@use "sass:math";

// animation
// $hdr-elem-delay: .7s;
$hdr-shad-delay: 2s;
// $hdr-elem-dur: 1.3s;
$hdr-shad-dur: 1.8s;
// $hdr-elem-fctn: ease-in-out;
$hdr-shad-fctn: ease-in;

// $hdr-anim-elem-snk: elemShrink;
// $hdr-anim-elem-snk-time: $hdr-elem-dur $hdr-elem-fctn $hdr-elem-delay 1 forwards;
$hdr-anim-shad-snk: shadowShrink;
$hdr-anim-shad-snk-time: $hdr-shad-dur $hdr-shad-fctn $hdr-shad-delay 1;

// $hdr-anim-elem-shk: elemShake 1s ease-out 2.8s 1 forwards;
$hdr-anim-transf: translateY(0) translateX(0);
$hdr-anim-transfd: translateY(-1vw) translateX(10vw);


// fonts
$sans-serif-disp: 'halyard-display', Arial, sans-serif;
$sans-serif-text: 'halyard-text', Arial, sans-serif;
$serif: '';

// colors
$main-bg-col: #000;
$text-col: #fff;

//$whole-marg + $h1-marg + $h1-pad
// 3rem + 0.7rem + 0.5rem = 4.2rem

// font sizes
$header-h1-sz: 80vw; // 30rem
$shad-h1-sz: 42vw;
$h1-sz: 2.5rem;
$h1-marg: 0.7rem;
$h1-pad: 0.5rem;
$h1-h-tot: calc($header-h1-sz + $h1-marg * 2);

@mixin anim($anim: $hdr-anim-shad-snk, $open: "true") {
    animation-name: $anim;
    animation-duration: $hdr-shad-dur;
    animation-timing-function: $hdr-shad-fctn;
    animation-iteration-count: 1;
    @if ($open == "true") {
        animation-delay: $hdr-shad-delay;
    }
    @if($open == "false") {
        animation-delay: 0;
    }
    animation-direction: normal;
    animation-fill-mode: forwards;
    
}

@mixin h1($color: $text-col, $size: $h1-sz) {
    padding: $h1-pad 0;
    font-size: $size;
    color: $color;
    font-weight: 600;
}

@mixin header-h1($col: $text-col, $sz: $header-h1-sz) {
    line-height: 1;
    font-family: $sans-serif-disp;
    font-style: italic;
    @if $col == $main-bg-col {
        text-shadow: 0 0 15px $col;
    } @else {
        text-shadow: 0 0 12px $col;
    }
    @include h1($color: $col, $size: $sz);
}

// box calculations
$whole-marg: 7vw;

// main
$main-width: 50vw;
$body-marg-base-funct: calc((100vw - $main-width)/3); // aka body-marg-right
$body-marg-left: calc($body-marg-base-funct * 2);
$main-height: max-content; // 80vh
$med-main-height: 50vh;
$main-max-h: max-content;  // 85vh
$med-main-max-h: 70vh;

// content
$cont-marg: 5vw;
$cont-pad-r: 1vw;
$cont-marg-r: calc($cont-marg - $cont-pad-r);

// header
$header-ind: 15rem;
$header-val: -$header-ind;

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-size: 20px;
    font-family: $sans-serif-text;
    font-weight: 300;
    color: $text-col;
    height: min-content;
}

#curtain {
    z-index: 1000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#whole {
    // border:3px dashed black;
    // margin: auto;
    width: 100vw;
    overflow: hidden;
    height: max-content;
}

#container {
    // border: 2px dashed black;
    margin: $whole-marg $body-marg-base-funct $whole-marg $body-marg-left;
    width: $main-width;
    height: max-content;
}

main {
    position: relative;
    z-index: 5;
    margin: 0;
    background-color: $main-bg-col;
    height: $main-height;
    max-height: $main-max-h;
    border-radius: 7px;
    box-shadow: 0 0px 30px $main-bg-col;
    overflow: hidden;
    transition: all .25s ease-in;

    .buttons {
        // border: 1px solid white;
        margin: $cont-marg $cont-marg-r $cont-marg $cont-marg;
        height: calc((1.25rem + 35px) * 2 + 1.5rem);
        // 0.5rem + 0.75rem + 20px + 1.5rem = 2.75rem + 20px
        // padding: 0.5rem 1.5rem .75rem 1.5rem;
        // font-size: 20px;
        // gap: 1.5rem;

    }
    
    #content {
        // display: none;
        // position: relative;
        // visibility: hidden;
        // opacity: 0;
        // border: 1px solid white;
        border-radius: 6px;
        margin: $cont-marg $cont-marg-r $cont-marg $cont-marg;
        padding: 0.5rem $cont-pad-r 0.5rem 0.5rem;
        overflow-y: scroll;
        max-height: max-content;
        display: block;
        height: 0;
        // height: calc($main-height - $h1-h-tot - $cont-marg * 2);
        // background-color: $text-col;
        color: $text-col;
        // transition: all .25s ease-in;

        p {
            margin: 0 0 1rem 0;
        }
    }

    // #content.visible {
        // display: block;
        // animation: .5s ease-in .75s 1 forwards contAppear;
        // visibility: visible;
    // }
}

header {
    position: relative;
    z-index: 2;
    width: max-content;
    height: max-content;
    // border: 1px solid white;
    transform: $hdr-anim-transf;
    h1 {
        margin: $h1-marg 0 $h1-marg $header-val;
        @include header-h1;
        height: 100%;
        transform: $hdr-anim-transf;
        // animation: $hdr-anim-elem-snk-time $hdr-anim-elem-snk;
    }
}

.header-bg {
    // border: 2px solid red;
    position: absolute;
    display: block;
    top: calc($whole-marg + $h1-marg + $h1-pad);
    z-index: 0;
    margin: 0 0 0 $header-val;
    width: calc($main-width + $header-ind);
    transform: $hdr-anim-transf;
    @include anim;
    // animation: $hdr-anim-shad-snk-time normal both $hdr-anim-shad-snk;
}

.header-bg.return {
    transform: $hdr-anim-transfd;
    @include anim($anim: shadowEnlarge, $open: "false");
    // animation: $hdr-anim-shad-snk-time reverse both $hdr-anim-shad-snk;
}

.header-bg::after {
    content: "Grey";
    @include header-h1($col: $main-bg-col);
    @include anim($anim: fontShrink);
    // animation: $hdr-anim-shad-snk-time normal both fontShrink;
}

.header-bg.return::after {
    font-size: $shad-h1-sz;
    @include anim($anim: fontEnlarge, $open: "false");
    // animation: $hdr-anim-shad-snk-time reverse both fontShrink;
}

form {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-around;

    button {
        width: max-content;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        padding: 0.5rem 1.5rem .75rem 1.5rem;
        border-radius: 7px;
        border: 0;
        box-shadow: 0 0 7px inset;
    
        font-family: $sans-serif-text;
        text-transform: lowercase;
        font-size: 1.5rem;
        color: $main-bg-col;
        text-shadow: 0 0 2px #8f8f8f;
        background-color: $text-col;
    
        
        // visibility: hidden;
        // opacity: 0;
        // transition: all ease-in-out .125s;
    
        &:hover {
            box-shadow: 0 0 9px inset;
        }
    
        &:active {
            box-shadow: 0 0 15px inset;
            text-shadow: 0 0 1px #8f8f8f;
        }
    
        &:hover, &:active {
            cursor: pointer;
        }
    }
}

@keyframes fontShrink {
    0% {
        font-size: $header-h1-sz;
    }

    100% {
        font-size: 40.8vw;
    }
}

@keyframes fontEnlarge {
    0% {
        font-size: 40.8vw;
    }

    100% {
        font-size: $header-h1-sz;
    }
}

// @keyframes mainLengthen {
//     0% {
//         height: $main-height;
//         max-height: max-content;
//     }

//     99% {
//         height: 60vh;
//         max-height: max-content;
//     }

//     100% {
//         height:max-content;
//         max-height: max-content;
//     }
// }

// @keyframes contAppear {
//     0% {
//         visibility: visible;
//         opacity: 0;
//     }

//     100% {
//         visibility: visible;
//         opacity: 1;
//     }
// }

// @keyframes btnAppear {
//     0% {
//         visibility: visible;
//         opacity: 0;
//     }

//     100% {
//         visibility: visible;
//         opacity: 1;
//     }
// }


// @keyframes elemShrink {
//     0% {
//         transform: scale(1) translateX(0) translateY(0);
//     }

//     100% {
//         transform: scale(0.49) translateX(-9.5rem) translateY(-7rem);
//     }
// }

@keyframes shadowShrink {
    0% {
        transform: $hdr-anim-transf;
    }

    100% {
        // font-size: 252.45
        transform: $hdr-anim-transfd;
    }
}

@keyframes shadowEnlarge {
    0% {
        // font-size: 252.45
        transform: $hdr-anim-transfd;
    }

    100% {
        transform: $hdr-anim-transf;
    }
}

// @keyframes elemShake {
//     0% {
//         transform: scale(.49) translateX(-9.5rem);
//     }

//     //hit
//     10% {
//         transform: scale(.49) translateX(-9.85rem) translateY(-.5rem);
//     }

//     //return
//     25% {
//         transform: scale(.49) translateX(-9.5rem) translateY(-.1rem);
//     }

//     //hit
//     45% {
//         transform: scale(.49) translateX(-9.1rem) translateY(-.7rem);
//     }

//     //return
//     65% {
//         transform: scale(.49) translateX(-9.3rem) translateY(-.3rem);
//     }

//     //hit
//     80% {
//         transform: scale(.49) translateX(-8.75rem) translateY(-.2rem);
//     }

//     //return
//     95% {
//         transform: scale(.49) translateX(-9.4rem) translateY(0rem);
//     }


// }

// @keyframes elemAttack {
//     0% {
//         transform: scale(.49) translateX(-9.5rem);
//     }

//     15% {
//         transform: scale(.51) translateX(-8.5rem) translateY(.5rem);
//     }
    
// }

