@use "sass:math";

//rgb(20, 103, 176) pretty blue;

// fonts
$sans-serif-disp: 'halyard-display', Helvetica, Arial, sans-serif;
$sans-serif-text: 'halyard-text', Arial, sans-serif;
$serif: '';

// colors
$main-bg-col: #000;
$text-col: #fff;

//$whole-marg + $h1-marg + $h1-pad
// 3rem + 0.7rem + 0.5rem = 4.2rem

// font sizes
$header-h1-sz: 80vw; // 30rem
$shad-h1-sz: 42vw;
$h1-sz: 2.5rem;
$h1-marg: 1vw;
$h1-pad: 0.5vw;

@mixin h1($color: $text-col, $size: $h1-sz) {
    font-size: $size;
    color: $color;
    font-weight: 600;
}

@mixin header-h1($col: $text-col, $sz: $header-h1-sz) {
    line-height: 1;
    font-family: $sans-serif-disp;
    font-style: italic;
    @if $col == $main-bg-col {
        text-shadow: 0 0 15px $col;
    } @else {
        text-shadow: 0 0 12px $col;
    }
    @include h1($color: $col, $size: $sz);
}

// box calculations
$whole-marg: 7vw;

// main
$main-width: 50vw;
$body-marg-base-funct: calc((100vw - $main-width)/3); // aka body-marg-right
$body-marg-left: calc($body-marg-base-funct * 1.75);
$main-height: max-content; // 80vh
$med-main-height: 50vh;
$main-max-h: max-content;  // 85vh
$med-main-max-h: 70vh;

// header
$header-ind: 30vw;
$header-val: -$header-ind;

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-size: 20px;
    font-family: $sans-serif-text;
    font-weight: 300;
    color: $text-col;
    height: min-content;
}

#curtain {
    z-index: 1000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#whole {
    // border:3px dashed black;
    width: 100vw;
    overflow: hidden;
    height: max-content;
}

#container {
    // border: 2px dashed black;
    position: relative;
    margin: $whole-marg $body-marg-base-funct $whole-marg $body-marg-left;
    width: $main-width;
    height: max-content;
}

main {
    position: relative;
    z-index: 1;
    margin: 0;
    background-color: $main-bg-col;
    height: $main-height;
    max-height: $main-max-h;
    border-radius: 7px;
    box-shadow: 0 0px 30px $main-bg-col;
    overflow: hidden;
    transition: all .25s ease-in;

    .buttons {
        margin: 5vw 4vw 5vw 5vw;
        height: max-content;
    }

}

form {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
}

form button {
    width: max-content;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 0.5rem 1.5rem 0.75rem 1.5rem;
    border-radius: 7px;
    border: 0;
    box-shadow: 0 0 7px inset;
    font-family: "halyard-text", Arial, sans-serif;
    text-transform: lowercase;
    font-size: 1.5rem;
    color: #000;
    text-shadow: 0 0 2px #8f8f8f;
    background-color: #fff;
}

form button:hover {
    box-shadow: 0 0 9px inset;
}
form button:active {
    box-shadow: 0 0 15px inset;
    text-shadow: 0 0 1px #8f8f8f;
}
form button:hover, form button:active {
    cursor: pointer;
}

div.bg {
    // border: 2px solid red;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    // backdrop-filter: saturate(80%);
    // -webkit-backdrop-filter: saturate(80%);
    // filter:saturate(100%);
}

div.bg.red {
    z-index: 9;
    mix-blend-mode:soft-light;
    background-color:rgba(226, 135, 135, 0.851);
}

div.bg.pink {
    z-index: 0;
    mix-blend-mode:lighten;
    background-color:rgba(115, 165, 209, 0.349);
}

main div.bg.blue {
    z-index: 3;
    mix-blend-mode:soft-light;
    background-color: rgb(20, 80, 208);
    pointer-events: none;
}

div.hdrCol {
    pointer-events: none;

    h1 {
        position: absolute;
        // border: 2px solid yellow;
        top: 0;
        padding: $h1-pad 0;
        margin: 0 0 0 calc($header-val + 10vw);
        pointer-events: none;
    }
}

div.hdrCol.red {
    h1 {
        @include header-h1($col: rgb(225, 17, 51), $sz: 42vw);
        mix-blend-mode:color-burn;
        z-index: 2;
    }
}

header {
    // border: 3px solid red;
    margin-bottom: 20vw;
    position: relative;
    width: max-content;
    height: max-content;

    h1 {
        @include header-h1;
        margin: 0 0 0 $header-val;
        padding: $h1-pad 0;
        height: 100%;
    }
}

.header-bg {
    // border: 2px solid green;
    position: absolute;
    display: block;
    top: 0;
    z-index: 0;
    margin: 0;
    width: calc($main-width + $header-ind);

    h1 {
        @include header-h1($col: $main-bg-col);
        padding: $h1-pad 0;
        margin: 0 0 0 (-$body-marg-left);
        width: max-content;
        height: 100%;

    }
}