@mixin anim($anim: $hdr-anim-shad-snk, $fwd: "true") {
    animation-duration: $hdr-shad-dur;
    animation-timing-function: $hdr-shad-fctn;
    animation-iteration-count: 1;
    @if $fwd {
        animation-delay: $hdr-shad-delay;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    @if($fwd == "false") {
        animation-delay: 0;
        animation-direction: reverse;
        animation-fill-mode: backwards;
    }
    animation-name: $anim;
}

.header-bg {
    border: 2px solid red;
    position: absolute;
    display: block;
    top: calc($whole-marg + $h1-marg + $h1-pad);
    z-index: 0;
    margin: 0 0 0 $header-val;
    width: calc($main-width + $header-ind);
    transform: $hdr-anim-transf;
    @include anim;
    // animation: $hdr-anim-shad-snk-time normal both $hdr-anim-shad-snk;
}

.header-bg.return {
    @include anim($fwd: false);
    // animation: $hdr-anim-shad-snk-time reverse both $hdr-anim-shad-snk;
}

.header-bg::after {
    content: "Grey";
    @include header-h1($col: $main-bg-col);
    @include anim($anim: fontShrink);
    // animation: $hdr-anim-shad-snk-time normal both fontShrink;
}

.header-bg.return::after {
    @include anim($anim: fontShrink, $fwd: "false");
    // animation: $hdr-anim-shad-snk-time reverse both fontShrink;
}